menu "httpServer Configuration"
    
    config BASIC_AUTH
        bool "Basic Authentication"
        default n
        help 
            Basic Authentication is a method for an HTTP user agent to provide a user name and a password when making a request.
            It is the simplest technique for enforcing access controls to web resources, because it doesn't require cookies, session
            identifiers, or login pages; rather, it uses standard fields in the HTTP header;
            (Basic Authentication is not encrypted channel and it is also easy to retrieve credentials as they are sent in plain text format)
      
    config BASIC_AUTH_USERNAME
        string "Basic Authenticate Username"
        depends on BASIC_AUTH
        default "esp 32"
        help 
            The client's username used for basic authentication
        
    config BASIC_AUTH_PASSWORD
        string "Basic Authenticate Password"
        depends on BASIC_AUTH
        default "ESP32WebServer"
        help 
            The client's password used for basic authentication

endmenu